<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net452" />
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net452" />
  <package id="Mono.Cecil" version="0.9.6.4" targetFramework="net452" />
  <package id="MvvmLightLibs" version="5.3.0.0" targetFramework="net452" />
  <package id="NuGet.CommandLine" version="3.5.0" targetFramework="net452" developmentDependency="true" />
  <package id="PInvoke.Kernel32" version="0.3.152" targetFramework="net452" />
  <package id="PInvoke.User32" version="0.3.152" targetFramework="net452" />
  <package id="PInvoke.Windows.Core" version="0.3.152" targetFramework="net452" />
  <package id="PInvoke.Windows.ShellScalingApi" version="0.3.152" targetFramework="net452" />
  <package id="Splat" version="2.0.0" targetFramework="net452" />
  <package id="squirrel.windows" version="1.5.1" targetFramework="net452" />
</packages>